@{
    ViewData["Title"] = "AddMovie";
}
@model AddMovieDTO

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <form asp-action="AddMovie" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Film Ekle</h3>
                    </div>
                    <div class="card-body">
                        <div class="mb-4">
                            <label class="form-label" asp-for="Name"></label>
                            <input asp-for="Name" class="form-control" placeholder="Lütfen film adı giriniz...." />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" asp-for="Description"></label>
                            <input asp-for="Description" class="form-control" placeholder="Lütfen film açıklaması giriniz...." />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" asp-for="Year"></label>
                            <input asp-for="Year" class="form-control"/>
                            <span asp-validation-for="Year" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" asp-for="DirectorId"></label>
                            <select asp-for="DirectorId" asp-items="@ViewBag.Directors" class="form-control">
                                <option value="0" selected="selected" disabled="disabled">Lütfen Yönetmen Seçiniz</option>
                            </select>
                            <span asp-validation-for="DirectorId" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" asp-for="Categories">Kategoriler</label>
                            <select asp-for="Categories" asp-items="@ViewBag.Categories" multiple="multiple" class="form-control">
                                <option value="0" selected="selected" disabled="disabled">Lütfen Kategorileri Seçiniz</option>
                            </select>
                            <span asp-validation-for="Categories" class="text-danger"></span>
                        </div>
                        <div class="mb-4">
                            <label class="form-label" asp-for="UploadImage"></label>
                            <input onchange="loadfile(event)" asp-for="UploadImage" class="form-control" />
                            <span asp-validation-for="UploadImage" class="text-danger"></span>
                        </div>
                        <div>
                            <img id="output" width="100" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-outline-success float-end">Ekle</button>
                        <a asp-area="Admin" asp-controller="Movies" asp-action="Index" class="btn btn-outline-info float-start">Geri Dön</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
@section Scripts
{
    <script>
        var loadfile = function(event) {
            var output = document.getElementById('output');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src); //free memory
            }
        }
    </script>
}
